In [1]:
import numpy as np
import pandas as pd
import random

from pathlib import Path
from pycaret.anomaly import *

In [2]:
RANDOM_SEED = 42
DATA_PATH = Path("../../data")

np.random.seed(RANDOM_SEED)
random.seed(RANDOM_SEED)

In [3]:
train_data = pd.read_csv(DATA_PATH / "train.csv")
test_data = pd.read_csv(DATA_PATH / "test.csv")

In [4]:
train_data

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11
0,0.0,1.0,1,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,...,53.744,24.657,62.544,22.137,39.935,42.323,47.757,47.510,41.258,18.447
1,0.0,1.0,2,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,...,53.414,24.588,59.259,22.084,40.176,38.554,43.692,47.427,41.359,17.194
2,0.0,1.0,3,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,...,54.357,24.666,61.275,22.380,40.244,38.990,46.699,47.468,41.199,20.530
3,0.0,1.0,4,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,...,53.946,24.725,59.856,22.277,40.257,38.072,47.541,47.658,41.643,18.089
4,0.0,1.0,5,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,...,53.658,28.797,60.717,21.947,39.144,41.955,47.645,47.346,41.507,18.461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.0,500.0,496,0.29325,3640.1,4473.0,9.1949,26.867,42.379,2700.2,...,53.429,29.249,60.773,21.532,40.451,34.064,48.953,48.291,40.812,18.756
249996,0.0,500.0,497,0.29134,3625.7,4506.2,9.2109,26.889,42.291,2700.6,...,53.830,28.975,61.517,21.750,42.762,42.645,51.055,48.589,40.933,19.360
249997,0.0,500.0,498,0.29438,3600.2,4478.3,9.1957,26.820,42.448,2700.3,...,54.163,28.676,61.656,21.487,42.109,39.770,46.770,48.648,41.465,19.344
249998,0.0,500.0,499,0.25269,3683.5,4486.4,9.2832,27.188,42.757,2697.4,...,53.453,24.889,61.564,21.392,39.334,42.274,43.623,48.797,39.835,18.512
249999,0.0,500.0,500,0.25214,3648.2,4467.8,9.1344,26.886,42.534,2695.1,...,53.676,24.943,61.254,21.208,38.991,42.873,44.400,48.876,41.076,16.158

In [5]:
test_data

,sample,simulationRun,xmeas_1,xmeas_10,xmeas_11,xmeas_12,xmeas_13,xmeas_14,xmeas_15,xmeas_16,...,xmv_10,xmv_11,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9
0,1,151,0.24927,0.33775,80.122,50.119,2632.7,25.883,50.561,3101.9,...,40.319000,16.011,53.877,24.767,62.495,22.050,39.9870,38.451,47.832,47.427
1,2,151,0.25248,0.33964,80.075,49.453,2632.4,25.949,51.504,3101.8,...,41.286000,20.370,53.926,24.452,58.961,21.920,39.7560,36.490,50.014,47.059
2,3,151,0.25116,0.33801,80.147,48.533,2633.3,25.131,51.688,3102.2,...,41.210000,16.036,54.323,24.588,60.385,22.270,39.9540,33.784,50.440,47.592
3,4,151,0.24815,0.33556,80.163,48.250,2632.3,23.923,49.509,3102.8,...,41.183000,15.611,54.171,24.885,63.593,22.068,40.2530,32.951,45.397,47.591
4,5,151,0.23961,0.32149,80.138,48.410,2632.6,23.388,49.588,3102.2,...,41.701000,16.618,53.690,23.879,61.476,21.861,38.2170,33.422,45.579,47.524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
710395,956,438,0.00000,0.20767,72.732,50.324,2920.8,25.377,49.508,3443.4,...,-0.025274,18.598,41.967,100.000,100.000,100.020,1.7372,39.055,45.394,100.410
710396,957,438,0.00000,0.20767,72.732,50.324,2920.8,25.377,49.508,3443.4,...,-0.025311,18.594,43.628,100.000,100.000,100.020,0.0000,39.055,45.394,100.410
710397,958,438,0.00000,0.20767,72.732,50.324,2920.8,25.377,49.508,3443.4,...,-0.025349,18.589,43.628,100.000,100.000,100.020,0.0000,39.055,45.394,100.410
710398,959,438,0.00000,0.20767,72.732,50.324,2920.8,25.377,49.508,3443.4,...,-0.025386,18.584,41.859,100.000,100.000,100.020,1.7723,39.055,45.394,100.410
710399,960,438,0.00000,0.20767,72.732,50.324,2920.8,25.377,49.508,3443.4,...,-0.025423,18.579,41.859,100.000,100.000,100.020,1.7723,39.055,45.394,100.410

In [6]:
exp_name = setup(train_data, ignore_features=["faultNumber", "simulationRun", "sample"],session_id=42)

In [7]:
models()

,Name,Reference
ID,,
abod,Angle-base Outlier Detection,pyod.models.abod.ABOD
cluster,Clustering-Based Local Outlier,pycaret.internal.patches.pyod.CBLOFForceToDouble
cof,Connectivity-Based Local Outlier,pyod.models.cof.COF
iforest,Isolation Forest,pyod.models.iforest.IForest
histogram,Histogram-based Outlier Detection,pyod.models.hbos.HBOS
knn,K-Nearest Neighbors Detector,pyod.models.knn.KNN
lof,Local Outlier Factor,pyod.models.lof.LOF
svm,One-class SVM detector,pyod.models.ocsvm.OCSVM
pca,Principal Component Analysis,pyod.models.pca.PCA
mcd,Minimum Covariance Determinant,pyod.models.mcd.MCD
sod,Subspace Outlier Detection,pyod.models.sod.SOD
sos,Stochastic Outlier Selection,pyod.models.sos.SOS

In [8]:
method = ['abod', 'cluster', 'iforest', 'histogram', 'knn', 'lof', 'svm', 'pca', 'mcd', 'sod']

test_pred = np.zeros(test_data.shape[0],)
preds = []

In [9]:
from tqdm.auto import tqdm
for id in tqdm(method):
    try :
        # 모델 생성
        model = create_model(id, fraction=0.31)
        
        # 모델을 통해 Test 데이터를 pred
        pred_df = predict_model(model, test_data.iloc[:, 2:])
        
        # 결과 출력
        print(f"== model = {id} ==")
        print(pred_df["Anomaly"].value_counts())
        
        # 예측값 추합
        pred = pred_df["Anomaly"]
        preds.append(pred.tolist())
        test_pred += pred
    except :
        pass

  0%|          | 0/10 [00:00<?, ?it/s]

== model = abod ==
Anomaly
0    389725
1    320675
Name: count, dtype: int64

== model = cluster ==
Anomaly
0    413951
1    296449
Name: count, dtype: int64

== model = iforest ==
Anomaly
0    400947
1    309453
Name: count, dtype: int64

== model = histogram ==
Anomaly
0    399709
1    310691
Name: count, dtype: int64

== model = knn ==
Anomaly
0    393804
1    316596
Name: count, dtype: int64